<%= render "devise/shared/form_section" do %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email, required: true, input_html: { autocomplete: "email" } %>
      <%= f.input :password, required: true %>
    </div>
    <div class="form-actions">
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Sign up", class: "btn btn-success text-white" %>
      <hr>
      <p>Already have an account? <%= link_to "Log in", new_session_path(resource_name) %></p>
    </div>
  <% end %>
<% end %>