<footer class="bg-danger text-white text-center py-4">
  <div class="container justify-content-center">
    <h6>Benvenuti Al Sud</h6>
    <small>
      <%= link_to "Corso Secondigliano 144, Napoli, Italia", "https://goo.gl/maps/GWRyt7a3mWr4rwTc8", target: "_blank" %>
      <br>
      <%= link_to "+39 081 0380851", "tel:+390810380851" %>
    </small>
    <div class="social-links pt-2">
      <%= icon("fas", "phone") %>
      <%= icon("fab", "whatsapp") %>
      <%= icon("fab", "facebook") %>
      <%= icon("fab", "instagram") %>
    </div>
  </div>
</footer>